/* Introdction */

body > h1 {
  font-size: 3rem;
  line-height: 1;

  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/* About */

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;

  border-block: 2px solid #2c70ff;
}

.about-info {
  flex: 2 1 300px;
  margin-inline: 10px;
}

.about-info h2 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.about-info p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;

  margin-bottom: 1rem;
}

.about-img {
  flex: 1 1 160px;
}
