header {
  display: flex;
  flex-direction: column;

  color: #fff;
}

.header-info-bg {
  background: #122ab2;
  color: #fff;
}

.header-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 960px;
  margin: 0 auto;
  padding-block: 10px;
}

.header-menu-bg {
  background: #2c70ff;
  color: #fff;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  max-width: 960px;
  margin: 0 auto;
  padding-block: 15px;
}

.header-menu > a {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}

.header-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-menu li {
  flex: 1;

  font-size: 1.25rem;
  text-align: center;

  padding: 10px;
}

.header-menu li a:hover {
  color: #122ab2;
  transition: color 150ms ease-in-out;
}

@media (max-width: 550px) {
  .header-menu {
    flex-direction: column;
  }

  .header-info {
    flex-direction: column;
    text-align: left;
  }

  .header-info p,
  .header-info a {
    padding-left: 10px;
    margin-bottom: 5px;
  }
}
